<a href="https://colab.research.google.com/github/rahulray8516/ML-Beginner/blob/main/Copy_of_multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple Linear Regression

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ML Learning/Udemy/Machine Learning A-Z (Codes and Datasets)/Part 2 - Regression/Section 5 - Multiple Linear Regression/Python/50_Startups.csv")

In [ ]:
dataset.head()
# display(dataset)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
dataset_new = pd.get_dummies(dataset)
dataset_new.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [ ]:
dataset_new = dataset_new.drop(['State_California'], axis = 1)

In [ ]:
dataset_new.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [ ]:
temp = dataset_new.iloc[ : , 4:6]
temp.head()

   State_Florida  State_New York
0              0               1
1              0               0
2              1               0
3              0               1
4              1               0

In [ ]:
dataset_new = dataset_new.drop(['State_Florida','State_New York'], axis = 1)

In [ ]:
# appending Columns At the Beginning
temp = pd.concat([temp, dataset_new], axis = 1)

In [ ]:
temp.head()

,State_Florida,State_New York,R&D Spend,Administration,Marketing Spend,Profit
0,0,1,165349.20,136897.80,471784.10,192261.83
1,0,0,162597.70,151377.59,443898.53,191792.06
2,1,0,153441.51,101145.55,407934.54,191050.39
3,0,1,144372.41,118671.85,383199.62,182901.99
4,1,0,142107.34,91391.77,366168.42,166187.94

In [ ]:
# Splitting dataset in X and Y
X = temp.iloc[: , :-1]
y = temp.iloc[: , -1]

In [ ]:
print(X)

    State_Florida  State_New York  R&D Spend  Administration  Marketing Spend
0               0               1  165349.20       136897.80        471784.10
1               0               0  162597.70       151377.59        443898.53
2               1               0  153441.51       101145.55        407934.54
3               0               1  144372.41       118671.85        383199.62
4               1               0  142107.34        91391.77        366168.42
5               0               1  131876.90        99814.71        362861.36
6               0               0  134615.46       147198.87        127716.82
7               1               0  130298.13       145530.06        323876.68
8               0               1  120542.52       148718.95        311613.29
9               0               0  123334.88       108679.17        304981.62
10              1               0  101913.08       110594.11        229160.95
11              0               0  100671.96        91790.61        249744.55
12              1               0   93863.75       127320.38        249839.44
13              0               0   91992.39       135495.07        252664.93
14              1               0  119943.24       156547.42        256512.92
15              0               1  114523.61       122616.84        261776.23
16              0               0   78013.11       121597.55        264346.06
17              0               1   94657.16       145077.58        282574.31
18              1               0   91749.16       114175.79        294919.57
19              0               1   86419.70       153514.11             0.00
20              0               0   76253.86       113867.30        298664.47
21              0               1   78389.47       153773.43        299737.29
22              1               0   73994.56       122782.75        303319.26
23              1               0   67532.53       105751.03        304768.73
24              0               1   77044.01        99281.34        140574.81
25              0               0   64664.71       139553.16        137962.62
26              1               0   75328.87       144135.98        134050.07
27              0               1   72107.60       127864.55        353183.81
28              1               0   66051.52       182645.56        118148.20
29              0               1   65605.48       153032.06        107138.38
30              1               0   61994.48       115641.28         91131.24
31              0               1   61136.38       152701.92         88218.23
32              0               0   63408.86       129219.61         46085.25
33              1               0   55493.95       103057.49        214634.81
34              0               0   46426.07       157693.92        210797.67
35              0               1   46014.02        85047.44        205517.64
36              1               0   28663.76       127056.21        201126.82
37              0               0   44069.95        51283.14        197029.42
38              0               1   20229.59        65947.93        185265.10
39              0               0   38558.51        82982.09        174999.30
40              0               0   28754.33       118546.05        172795.67
41              1               0   27892.92        84710.77        164470.71
42              0               0   23640.93        96189.63        148001.11
43              0               1   15505.73       127382.30         35534.17
44              0               0   22177.74       154806.14         28334.72
45              0               1    1000.23       124153.04          1903.93
46              1               0    1315.46       115816.21        297114.46
47              0               0       0.00       135426.92             0.00
48              0               1     542.05        51743.15             0.00
49              0               0       0.00       116983.80         45173.06

In [ ]:
print(y)

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

##Splitting the data set into traning and test data set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0 )

## Training the Multiple Linear Regression model on the Training set

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()


##***Predicting the Test set result***

In [ ]:
y_pred = regressor.predict(X_test);
np.set_printoptions(precision=2)
print(y_pred)

[103015.2  132582.28 132447.74  71976.1  178537.48 116161.24  67851.69
  98791.73 113969.44 167921.07]

In [ ]:
print(y_pred)

[103015.2  132582.28 132447.74  71976.1  178537.48 116161.24  67851.69
  98791.73 113969.44 167921.07]

In [ ]:
print(y_pred.reshape(len(y_pred),1))

[[103015.2 ]
 [132582.28]
 [132447.74]
 [ 71976.1 ]
 [178537.48]
 [116161.24]
 [ 67851.69]
 [ 98791.73]
 [113969.44]
 [167921.07]]

In [ ]:
print(y_test)

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

AxisError: ignored